# Local development
.DS_Store
node_modules
/dist

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project build and compiled files
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA files
.idea
*.iws
*.iml
*.ipr

# NetBeans and VS Code files
.nbproject/
build/
.vscode/

# Other files
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Java virtual machine crash logs
hs_err_pid*
replay_pid*
